<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <containers>
    <container>
      <register type="Easymish.ServiceInterface.ISettings,Easymish.ServiceInterface" mapTo="Easymish.Business.Settings,Easymish.Business" />
    </container>
  </containers>
</unity>
